# Minimal Django Buildout
# http://code.google.com/p/django-buildout/

[buildout]
eggs = 
    psycopg2
    py-mysql2pgsql
	MySQL-python
    south
    PIL
	django-chronograph
	django-mailer
	pytz
	django_countries
	django-taggit
	django-dajaxice
parts =
	django
versions = versions

[versions]
django = 1.4

[django]
recipe = djangorecipe
wsgi = true
settings = settings
eggs = ${buildout:eggs}
project = ff