{% load i18n dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head>
	<title>Fantastic Futures</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/site.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fileuploader.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ajaxUpload.css" />	
	{% block extra_css %}{% endblock %}
</head>
<script type="text/javascript">
	var MEDIA_URL = '{{ MEDIA_URL }}';
    var DATA_LAYERS = {{ layers|safe }};	
</script>
<body>
	<div id="container">
	    	    
        {% block content %}
        {% endblock content %}
        <div id="loadingGif"><img src="{{ MEDIA_URL }}images/loading.gif" width="100%" height="100%"/></div>
        <div id="topMenu">
            <!--------LOGO-------->
            <a href="#" id="logo"></a>   
            <a href="#" id="addConstellationText"><h2>SAVE A CONSTELLATION?</h2></a>
            <a href="#" id="errorText"><h2>SHOW AN ERROR</h2></a>
        </div>             

        <div id="bottomMenu">
            <!--------ADD SOUND-------->
            <a href="#" id="addSoundText"><h2>+ ADD A SOUND</h2></a>

            <!--------CONSTELLATION MENU-------->
            <div id="constellationMenu">
            	<a href="#"><h2>CONSTELLATIONS</h2></a>
            	<div id="constellationMenuContent">
            	<a>A1482324</a><br><a class="selected">ALPHA OMEGA</a><br><a>POTATO</a><br><a>39JASKN</a><br><a>LISTEN</a><br><a>FOXTROT</a>
            	</div>
            </div>    
        </div>
        
        <!--------ADD SOUND-------->
        <div id="addSound" class="tran1">
        	<canvas id="addSoundTriangle" width="20" height="20">
        	Your browser does not support the HTML5 canvas tag.
        	</canvas>

        	<script type="text/javascript">
        		var c=document.getElementById("addSoundTriangle");
        		var ctx=c.getContext("2d");
        		ctx.fillStyle="#005fff";
        		ctx.moveTo(20,0);
        		ctx.lineTo(0,20);
        		ctx.lineTo(20,20);
        		//ctx.stroke();
        		ctx.fill();
        	</script>

        	<form action="{% url add-sound %}" method="post" enctype="multipart/form-data" id="addSoundForm">		
                {{ add_sound_form.non_field_errors }}
                {% csrf_token %}  
            	<div id="ajaxUploadContainer">
    				<a href="#" id="uploadText">CHOOSE FILE</a>            	    
    				<div id="file-uploader"></div>
    				<div class="progressBarContainer">
    					<div class="progressBar">
    						<div class="progress"></div>
    					</div>
    				</div>
    			</div>       
    		    {{ add_sound_form.filename }}    			           
    		    {{ add_sound_form.created_by }}
    		    {{ add_sound_form.location }}        			    
    		    {{ add_sound_form.story }}        			    
    			<button type="past">PAST?</button><button type="past">PRESENT?</button><button type="past">FUTURE?</button>
    		    <input id="submit" type="submit" value="UPLOAD">

        		<div id="addSoundCheck">
        			:) SOUND ADDED!
        		</div>	
        	</form>
        </div>
        <!--------ADD SOUND ENDED-------->
            	 
        <!--------CONSTELLATION------>
        <div id="addConstellation">
        	<canvas id="addConstellationTriangle" width="20" height="20"></canvas>
        	<script type="text/javascript">
        		var c=document.getElementById("addConstellationTriangle");
        		var ctx=c.getContext("2d");
        		ctx.fillStyle="#005fff";
        		ctx.moveTo(20,0);
        		ctx.lineTo(0,20);
        		ctx.lineTo(20,20);
        		//ctx.stroke();
        		ctx.fill();
        	</script>

        	<form id="addConstellationForm" action="/constellation/add/" method="post">		
        		<ul>
        			<li><input id="filename" type="text" name="filename" value="NAME YOUR CONSTELLATION"></li>
        			<li><input id="id_author" type="text" maxlength="255" name="id_author" value="YOUR NAME"></li>
        			<li><input id="id_author" type="text" maxlength="255" name="id_author" class="optional" value="YOUR CITY, STATE, COUNTRY (OPTIONAL)"></li>
        			<li><input id="submit" type="submit" value="SAVE"></li>
        		</ul>	

        		<div id="addConstellationCheck">
        			:) CONSTELLATION ADDED!
        		</div>	
        	</form>
        </div>
        <!--------CONSTELLATION ENDED--------->

      
        <!--------SHOWING CONCERN-------->
        <div id="error">
        	<canvas id="errorTriangle" width="20" height="20"></canvas>
        	<script type="text/javascript">
        		var c=document.getElementById("errorTriangle");
        		var ctx=c.getContext("2d");
        		ctx.fillStyle="#ff0000";
        		ctx.moveTo(0,0);
        		ctx.lineTo(0,20);
        		ctx.lineTo(20,20);
        		//ctx.stroke();
        		ctx.fill();
        	</script>

        	<div id="errorMessage">			
        		<p>SOMETHING IS NOT WORKING PROPERLY.</p>
        		<p>CONTACT US AND TRY AGAIN.</p>
        	</div>
        </div>
        <!--------SHOWING CONCERN ENDED--------->

        <!--------ABOUT-------->      
        <div id="about">
          	<img src="{{ MEDIA_URL }}images/logo_en_white.png"/><br/><br/>
          	<img src="{{ MEDIA_URL }}images/logo_ar_white.png"/>
          	<div class="description english">
          		<p>Fantastic Futures is a collaborative group of individuals from Iraq and the United States. Together, we've created this online platform for mixing and sharing of recorded sounds and stories across cultures. Our goal is to connect citizens from nations in conflict in an open dialogue based around the sharing of field recordings, songs, and interviews. Hopefully, this might help to collapse the barriers of physical space that contribute to the misunderstandings between cultures and to emphasize the subversive value of sharing experiences across political borders.</p>

          		<p>This online platform is maintained with support by Rhizome at the New Museum.</p>
          	</div>
          		<div class="description arabic">
          		<p>مشروع المستقبل الرائع هو مجموعة مشتركة ومتعاونة من طلبة العراق والولايات المتحدة. وقد قمنا شوية بخلق هذا المنبر المباشر على الانترنيت لخلط ومشاركة الاصوات المسجلة والقصص من ثقافات مختلفة. وهدفنا الاساس هو وصل الشعوب من امم مختلفة مع بعضهم وفتح الحوار المباشر بينهم اعتمادا على التسجيلات المشتركة والاغاني والمقابلات.</p>

          		<p>نحن نأمل, ومن خلال هذا العمل, ان نقلص من الحواجز التي ساهمت في خلق سوء الفهم بين  الحضارات المختلفة.</p>

          		<p>ان هذا المنبر مدعوم من قبل ريزوم. </p>
          	</div>
          	<img src="{{ MEDIA_URL }}images/rhizome_logo.png"/>
          	<div id="aboutLinks">
          	<ul>
          		<li id="toggleLanguage"><a id="toggleAr">Read in Arabic</a><a id="toggleEn">Read in English</a></li>
          		<li id="classicSite"><a>Classic Site</a></li>
          		<li id="contactUs"><a>Contact Us</a></li>
          	</ul>
          </div>
        </div>
        <!--------ABOUT ENDED--------->

        <!--------FEEDBACK-------->
        <div id="feedback">
              <div id="feedback_tab"></div>
              <h1>Thanks for taking a minute to give us feedback.</h1>
              <form id="feedbackForm" method="post" action="">
                  {% csrf_token %}
                  {{ feedback_form }}
                  <input class="formSubmit" type="submit" value="SUBMIT" />
              </form>
              
              <div id="feedbackCheck">
                  :) SENT!
              </div>              
          </div>
        <!--------FEEDBACK ENDED-------->
	</div>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.js"></script>
    {% dajaxice_js_import %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/fileuploader.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/site.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/ajaxUpload.js"></script>
	{% block extra_js %}{% endblock %}	
</body>
</html>
