<script type="text/javascript">
var CONSTELLATIONS = {{ constellations_json|safe }};
</script>

<!-- CONSTELLATION MENU -->
<div id="constellationMenu">
	<a href="#"><h2>CONSTELLATIONS</h2></a>
	<div id="scrollUp"></div>
  <div id="constellationMenuContent">
  {% for c in constellations %}
    <a href="#" id="c_{{ c.pk }}">{{ c.title|upper }}</a><br />
  {% endfor %}
  <!--<a>A1482324</a><br><a class="selected">ALPHA OMEGA</a><br><a>POTATO</a><br><a>39JASKN</a><br><a>LISTEN</a><br><a>FOXTROT</a><br/><a>A1482324</a><br><a class="selected">ALPHA OMEGA</a><br><a>POTATO</a><br><a>39JASKN</a><br><a>LISTEN</a><br><a>FOXTROT</a><br/><a>A1482324</a><br><a class="selected">ALPHA OMEGA</a><br><a>POTATO</a><br><a>39JASKN</a><br><a>LISTEN</a><br><a>FOXTROT</a>-->
  </div>
	<div id="scrollDown"></div>
</div>