<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="constellations.css" />
</head>
<body>

<!--------LOGO-------->
<a><div id="logo"></div></a>
<!--------ADD SOUND-------->
<a href="#" id="plus" class="hide"><h2>+</h2></a>
<a href="#" id="plus" class="show"><h2>+</h2></a>
<a href="#" id="addSoundText" class="hide"><h2>+ ADD A SOUND</h2></a>
<a href="#" id="addSoundText" class="show"><h2>+ ADD A SOUND</h2></a>
<!--------CONSTELLATION MENU-------->
<div id="constellationMenu">
	<a href="#" class="hide"><h2>CONSTELLATIONS</h2></a>
	<a href="#" class="show"><h2>CONSTELLATIONS</h2></a>
	<div id="constellationMenuContent" class="tran1">
	<a>A1482324</a><br><a class="selected">ALPHA OMEGA</a><br><a>POTATO</a><br><a>39JASKN</a><br><a>LISTEN</a><br><a>FOXTROT</a>
	</div>
</div>
	

<!--------ADD SOUND-------->
<div id="addSound" class="tran1">
	<canvas id="addSoundTriangle" width="20" height="20">
	Your browser does not support the HTML5 canvas tag.
	</canvas>
	
	<script type="text/javascript">
		var c=document.getElementById("addSoundTriangle");
		var ctx=c.getContext("2d");
		ctx.fillStyle="#005fff";
		ctx.moveTo(20,0);
		ctx.lineTo(0,20);
		ctx.lineTo(20,20);
		//ctx.stroke();
		ctx.fill();
	</script>
	
	<form action="/videos/add/" method="post" enctype="multipart/form-data" id="addSoundForm" class="tran1">		
		<input type="hidden" class="hidden" name="page_id" value="{{ page.id }}">
		<ul>
			<li><input id="filename" type="text" name="filename" value="FIND THE FILE"></li>
			<li><input id="id_author" type="text" maxlength="255" name="id_author" value="YOUR NAME"></li>
			<li><input id="id_author" type="text" maxlength="255" name="id_author"  value="CITY, STATE, COUNTRY"></li>
			<li><textarea id="story" type="text" name="story" class="optional">STORY ABOUT THIS SOUND (OPTIONAL)</textarea></li>
			<button type="past">PAST?</button><button type="past">PRESENT?</button><button type="past">FUTURE?</button>
			<!--	{{ form.as_ul }}-->
			<li><input id="submit" type="submit" value="UPLOAD"></li>
		</ul>	
	</form>
	<div id="addSoundCheck" class="tran1">
		:) SOUND ADDED!	
	</div>
</div>
<!--------ADD SOUND ENDED-------->

<!--------CONSTELLATION-------->
<div id="addConstellation">
	<canvas id="addConstellationTriangle" width="20" height="20">
	Your browser does not support the HTML5 canvas tag.
	</canvas>
	
	<script type="text/javascript">
		var c=document.getElementById("addConstellationTriangle");
		var ctx=c.getContext("2d");
		ctx.fillStyle="#005fff";
		ctx.moveTo(20,0);
		ctx.lineTo(0,20);
		ctx.lineTo(20,20);
		//ctx.stroke();
		ctx.fill();
	</script>
	
	<form action="/videos/add/" method="post" enctype="multipart/form-data" id="addConstellationForm">		
		<input type="hidden" class="hidden" name="page_id" value="{{ page.id }}">
		<ul>
			<li><input id="filename" type="text" name="filename" value="NAME YOUR CONSTELLATION"></li>
			<li><input id="id_author" type="text" maxlength="255" name="id_author" value="YOUR NAME"></li>
			<li><input id="id_author" type="text" maxlength="255" name="id_author" class="optional" value="YOUR CITY, STATE, COUNTRY (OPTIONAL)"></li>
			<!--	{{ form.as_ul }}-->
			<li><input id="submit" type="submit" value="SAVE"></li>
		</ul>	
	</form>
	<div id="addConstellationCheck">
		:) CONSTELLATION ADDED!
	</div>
</div>
<!--------CONSTELLATION ENDED--------->

<!--------SHOWING CONCERN--------->
<div id="error">
	<canvas id="errorTriangle" width="20" height="20">
	Your browser does not support the HTML5 canvas tag.
	</canvas>
	
	<script type="text/javascript">
		var c=document.getElementById("errorTriangle");
		var ctx=c.getContext("2d");
		ctx.fillStyle="#ff0000";
		ctx.moveTo(0,0);
		ctx.lineTo(0,20);
		ctx.lineTo(20,20);
		//ctx.stroke();
		ctx.fill();
	</script>
	
	<div id="errorMessage">			
		<p>SOMETHING IS NOT WORKING PROPERLY.</p>
		<p>CONTACT US AND TRY AGAIN.</p>
	</div>
</div>
<!--------SHOWING CONCERN ENDED--------->
</body>
</html>