{% load i18n dajaxice_templatetags compress %}
<!DOCTYPE html>
<html>
<head>
	<title>Fantastic Futures</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
	<![endif]-->
    {% include "analytics.html" %}
</head>
<body>
	<div id="container" style="text-align:center;width:275px;margin:250px auto 0;">
        <h2>THANK YOU!</h2>
        <p>
            <a style="color:black;text-decoration:underline;" href="{{ STATIC_URL }}fantastic_futures_performance_110912.mp3" target="_blank">download the recording of the performance</a>.<br />
        </p>
    </div>
</div>